textarea {
    resize: none;
}

.chat-place{
    display: block;
    max-width: 600px;
    width: 80%;
    height: 100%;
    background: wheat;
    margin: 0 auto;
    padding: 20px;
}

.chat-place .info{
    margin: 0 auto;
    width: 250px;
    text-align: center;
}

.info input{
    padding: 10px;
}

.row label {
    display: block;
}

.info input[type="button"]{
    margin-top: 10px;
}

.error {
    color: red;
}
